#components-area {
    display: flex;
    flex-direction: column;
    background: var(--colour-accent2);

    padding: 0 var(--border-radius) var(--border-radius)var(--border-radius);
    border-radius: var(--border-radius);
}

#components-area p {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: var(--text-header-size);
    margin: calc(0.5 * var(--unit)) 0;
    color: var(--text-colour);
}

#components-list {
    display: grid;
    background: var(--colour-accent3);

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

    gap: calc(var(--gap-size));
    padding: calc(var(--gap-size) * 1.2);

    grid-column-start: 1;
    grid-column-end: 3;

    box-sizing: border-box;
    border-radius: var(--border-radius);
    overflow: hidden;
}


.component {
    display: flex;
    flex-direction: column;
    background: var(--colour-accent4);
    border-radius: var(--border-radius);
    position: relative;

    font-size: var(--text-button-size);
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0.5rem;
}

.component-label {
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.component-img {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center
}

@media (min-height: 1100px) {
    #components-list {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

    .component-img {
        width: 80%;
    }
}

.component img {
    width: 100%;
    aspect-ratio: 1;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.placed-component {
    pointer-events: all;
}

.placed-component.dragged {
    opacity: 95%;
}

.vShaft {
    z-index: 2;
}

.hShaft {
    z-index: 1;
}

.crossConnect,
.integrator,
.functionTable,
.differential,
.outputTable,
.motor,
.multiplier,
.gearPair,
.dial {
    z-index: 3;
}

.placed-component.selected {
    opacity: 80%;
    background-color: var(--colour-accent2);
}
