.container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  --svg-bg: white;
  --svg-fg: black;
}

:host(.warning) ::slotted(*) {
  --svg-bg: #FFA100;
  --svg-fg: black;
}
