#grid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: none;
}

.grid-cell {
    position: absolute;
}

.locked-cell {
    background: Pink;
}

.highlighted-cell {
    background: var(--colour-highlight3);
    z-index: 4;
    opacity: 30%;
}
