.popup {
  background: var(--colour-accent2);

  position: absolute;
  border-radius: var(--border-radius);
  border-color: var(--colour-accent3);
  border-style: solid;
  border-width: calc(var(--border-radius) / 2);
  padding: var(--gap-size);
  font-size: calc(var(--text-size) * 1.2);
  text-decoration: bold;
  z-index: 10;

  box-sizing: border;
}

#shaft-popup {
  display: flex;
  flex-direction: column;

  visibility: hidden;
}

#shaft-popup>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}

#shaft-popup>div>button {
  width: 100%;
}

#integrator-popup {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

#gear-popup {
  display: flex;
  flex-direction: row;
  visibility: hidden;
}

#motor-popup {
  visibility: hidden;
}

#multiplier-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 8vw;
  visibility: hidden;
}

#multiplier-popup>label {
  font-weight: bold;
}


#gear-pair-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 10vw;

  visibility: hidden;
}

#gear-pair-popup>div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#gear-pair-popup>input {
  max-width: 100%;
}

#gear-pair-popup>label {
  font-weight: bold;
}
