:root {
    --colour-background: #CCC5B9;
    --colour-accent1: #B6BCAB;
    --colour-accent2: #A7B887;
    --colour-accent3: #88986C;
    --colour-accent4: #62783B;
    --colour-highlight1: #ECCF7E;
    --colour-highlight2: #D48C35;
    --colour-highlight3: #364D1A;
    --text-colour: #F0F0F0;
    --unit: calc(max(1vw, 1vh));
    --text-size: calc(var(--unit));
    --text-button-size: calc(0.8 * var(--unit));
    --text-header-size: calc(2 * var(--unit));
    --border-radius: calc(0.5 * var(--unit));
    --gap-size: calc(0.5 * var(--unit));

    font-family: monospace;
    color: var(--text-colour);
    background: var(--colour-background);
}

body,
html {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
}

#content {
    position: absolute;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--colour-background);
    user-select: none;
}

#machine {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#user-control {
    margin: 0;
    display: flex;
    flex-direction: column;

    width: 30vw;
    height: 100%;
    overflow: hidden;

    background: var(--colour-accent1);

    padding: var(--gap-size);
    box-sizing: border-box;
    gap: var(--gap-size);

    z-index: 6;
}

#configuration {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    padding: var(--gap-size);
    background: var(--colour-accent2);
    border-radius: var(--border-radius);
    font-size: var(--text-size);
}

#configuration>p {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: var(--text-header-size);
    margin: calc(0.5 * var(--unit)) 0;
    text-decoration: underline;
    color: var(--text-colour);
}

#configuration>label {
    text-decoration: bold;
}

#configuration>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    padding: var(--gap-size) 0 var(--gap-size) 0;
}

#configuration>input {
    font-size: var(--text-button-size);
}

#configuration>div>button {
    font-size: var(--text-button-size);
    width: 45%;
}

#configuration button {
    font-size: var(--text-button-size);
    margin: calc(0.25 * var(--unit)) 0 0 0;
}

#motor-speed {
    accent-color: var(--colour-highlight3);
}

integrator-component {
    width: 100%;
    height: 100%;
}
